.form-center{
    color:#eff1e5;
    font-weight: 700;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    padding-bottom: 12%;
    h1 {
        text-align: center;
        margin-bottom: 15%;
        font-size: 25px;   
    }
    Input{
        margin-right: 15%;
        margin-bottom: 5%;
    }
    button {
        margin-top: 10%;
        margin-bottom: 10px;
        color: #a8cc74;
    }
    .radioCenter {
        margin-right: 15%;
    }
}
